/* ========================================================================== */
/* GLOBAL */
/* ========================================================================== */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

/* same than html */
:root {
  font-size: 62.5%;

  --size-divisor: 3;

  /* A définir */
  --text-size: 2rem;
  --navbtn-text-size: 3rem;
  --subnavbtn-text-size: 2.5rem;
  --input-text-size: 3rem;
  --nav-center-element-size: 63rem;

  --primary-color: #43b1e8;
  --secondary-color: #e9ecef;
  --tertiary-color: #ffffff;

  --disable-color: #9ea8b8;
  --disable-clear-color: #e9dfdfbe;
  --validation-color: #60e091;

  --pusher-color: #2c7ea7;

  --primary-text-color: #000000;
  --secondary-text-color: #707070;
}

/* ========================================================================== */
/* TYPE */
/* ========================================================================== */

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
  /* style font bold, italic, normal ... */
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-family: "Roboto";
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  font-weight: 40px;
  background: var(--primary-color);
  border: none;

  font-size: 2rem;
  color: white;
  cursor: pointer;

  transition: background 0.5s ease-in-out;
}

/* ========================================================================== */
/* HEADER LOGO & NAVBAR & SUB NAVBAR*/
/* ========================================================================== */
header img {
  width: 15%;
}

.basic-head {
  background: var(--primary-color);
  padding: 2rem;

  display: flex;
  justify-content: center;

  width: 100%;
  margin: auto;
}

.main-head {
  background: var(--primary-color);
  width: 100%;
  height: 12rem;
  min-height: 12rem;
}

.navbar {
  display: flex;
  align-items: center;

  width: 100%;

  /*  padding horizontal */
  padding: 0 6rem;

  /* min displayed */
  min-height: 12rem;
}

.container-navbar {
  height: 100%;
  display: flex;

  flex: 1 1 20rem;
  align-items: center;
}

.container-navbar span {
  font-size: var(--navbtn-text-size);
}

.logo-navbar {
  width: 11%;
}

.cours-navbar {
  display: flex;
  flex: 0.9 1 1px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  height: 12rem;
  margin-left: 7.5rem;
}

.search-navbar {
  display: flex;
  flex: 1 1 30rem;
  justify-content: flex-start;

  height: 8rem;
  position: relative;
  margin-right: 4rem;
}

.search-navbar img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: 1.5rem;
  top: 1rem;
  color: var(--disable-color);
}

.search-navbar input {
  width: var(--nav-center-element-size);
  height: 100%;
  min-width: 58rem;
  border: solid var(--disable-color);
  border-width: 2px;
  border-radius: 10px;

  padding-left: 80px;

  font-size: var(--input-text-size);
  color: var(--secondary-text-color);
}

.block-navbar {
  display: flex;
  flex: 1 1 10rem;
  flex-direction: rows;
}

.profil-navbar {
  display: flex;
  flex: 1 1 12rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 12rem;

  margin-right: 11.5rem;
}

.disconnect-navbar {
  display: flex;
  flex: 1 1 5rem;
  flex-direction: column;
  justify-content: flex-end;
}

.btn-navbar {
  height: 55%;
  display: flex;

  color: var(--disable-clear-color);
}

.bar-navbar {
  height: 10px;
  background-color: var(--tertiary-color);

  /* id disable : */
  background-color: var(--disable-clear-color);
}

.cours-navbar > div {
  width: 8rem;
}

.profil-navbar > div {
  width: 7rem;
}

.disconnect-navbar > div {
  width: 17.5rem;
}

/* -------------------------------------------------------------------------- */
/* Sub Navbar */
/* -------------------------------------------------------------------------- */

.subnavbar {
  background: var(--secondary-color);
  width: 100%;
  height: 10rem;
  min-height: 10rem;

  display: flex;
  flex: 1 1 20rem;
  justify-content: center;
  align-items: flex-end;
}

.container-subnavbar span {
  /* font-size: var(--subnavbtn-text-size); */
  font-size: var(--navbtn-text-size);
}

.container-subnavbar {
  width: var(--nav-center-element-size);
  display: flex;
  justify-content: center;

  justify-content: flex-start;
  align-items: flex-end;
}

.allcours-subnavbar {
  display: flex;
  flex: 1 1 6rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  height: 10rem;
}

.mycours-subnavbar {
  display: flex;
  flex: 1 1 6rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 10rem;
}

.suggestion-subnavbar {
  display: flex;
  flex: 1 1 6rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 10rem;
  padding-left: 2em;
}

.allcours-subnavbar > .btn-navbar {
  background-color: var(--secondary-color);
  color: var(--disable-color);
}

.allcours-subnavbar > .bar-navbar {
  height: 10px;
  width: 93%;
  background-color: var(--tertiary-color);
}

.mycours-subnavbar > .btn-navbar {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-right: 1.5rem;
}

.mycours-subnavbar > .bar-navbar {
  height: 10px;
  width: 66.5%;
  margin-right: 1.5rem;
  background-color: var(--primary-color);
}

.suggestion-subnavbar > .btn-navbar {
  background-color: var(--secondary-color);
  color: var(--disable-color);
}

.suggestion-subnavbar > .bar-navbar {
  height: 10px;
  width: 100%;
  width: 79%;
  background-color: var(--tertiary-color);
}

/* ========================================================================== */
/* LOGIN SECTION */
/* ========================================================================== */
.section-login {
  height: 65vh;
}

.form-wrapper {
  border: 1px solid var(--disable-color);
  border-radius: 15px;

  align-items: center;
  text-align: center;

  margin: 5rem auto 0;

  /* width:50rem;
  height: 50rem; */

  width: calc(150rem / var(--size-divisor));
  height: calc(150rem / var(--size-divisor));

  min-height: calc(150rem / var(--size-divisor));
  max-height: calc(150rem / var(--size-divisor));

  min-width: calc(150rem / var(--size-divisor));
  max-width: calc(150rem / var(--size-divisor));

  position: relative;
}

.form-head {
  padding-top: 2rem;
}

.form-container {
  align-items: center;
  text-align: center;
}

.form-elements {
  width: 85%;
  margin: auto;
  padding: 2rem;
}

.form-elements input[type="email"],
input[type="password"] {
  transition: box-shadow 0.3s;

  border-radius: 4px;
  border: 1px solid var(--disable-color);
  color: var(--secondary-text-color);

  box-shadow: 0 1px #fff;
  box-sizing: border-box;

  margin-top: 1.5rem;

  padding-left: 40px;

  height: 6rem;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.input-form {
  width: 100%;
  padding: 10px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.button-form {
  width: 85%;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

button[type="submit"] {
  background-color: var(--primary-color);
  background-image: linear-gradient(top, var(--primary-color), #3111);
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px var(--pusher-color),
    0px 10px 5px #999;

  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #317ea5;

  min-width: 4rem;

  min-height: 4rem;

  cursor: pointer;
  border: none;

  width: 96%;
  height: 6rem;

  border-radius: 6px;
}

button[type="submit"]:hover {
  background-color: var(--pusher-color);
  background-image: linear-gradient(top, #2c7ea7a2, #3111);
  box-shadow: inset 0px 2px 0px #2c7ea7a2, 0px 3px 0px 0px #2c7ea7a2;

  /* background: var(--pusher-color); */
}

.remember-form {
  margin-top: 1rem;
}

.remember-form label {
  color: var(--secondary-text-color);
}

.form-wrapper p {
  position: absolute;
  bottom: 0;
  padding-bottom: 3rem;
  color: var(--secondary-text-color);

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


/* ========================================================================== */
/* MAIN SECTION */
/* ========================================================================== */

.section-cours{

  margin : 4rem 16.5%;
  width: 67%;
  display:flex;

}

hr{

 
}

/* ========================================================================== */
/*  MY COURS SECTION */
/* ========================================================================== */

.following-cours{
width: 100%;
font-size: 2rem;
}


table{
  border-collapse: collapse;
  width:100%;
  height: 10rem;
  border: 1px solid;
  border-color: var(--disable-color);
}


th{
  border: 1px solid;
  border-color: var(--disable-color);

  color: var(--secondary-color);


}

.inprogress-tab th{
  background-color: var(--primary-color);
}

.inprogress-tab th{
  background-color: var(--primary-color);
}
.finish-tab th{
  background-color: var(--validation-color);
}


td{
  border: 1px solid;
  border-color: var(--disable-color);
}

.inprogress-tab{

  margin-top: 2rem;
}



.finish-tab{
  margin-top: 2rem;

}

/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */
footer {
  color: var(--primary-color);
  background: var(--secondary-color);

  height: auto;
}

.separator-bar {
  height: 1rem;
  width: auto;
  background: #000000;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  margin-top: 1rem;
  margin-left: 15%;
  margin-right: 15%;

  height: 20vh;
}

.container-question {
  width: 100%;
  height: 7vh;
  position: absolute;

  top: 25%;
}

.question {
  width: 100%;
  height: 100%;

  position: relative;
}

.question > div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.img-question {
  width: 25%;
  height: 100%;

  display: inline-block;

  border-top: thin solid var(--disable-color);
  border-bottom: thin solid var(--disable-color);
  border-left: thin solid var(--disable-color);

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  text-align: center;
  background: var(--primary-color);

  position: relative;
}

.img-question input {
  width: 70%;
  height: 75%;

  object-fit: scale-down;

  top: 15%;
  left: 15%;
  position: absolute;
}

.btn-question {
  width: 75%;
  height: 100%;

  display: inline-block;
  float: right;

  border-top: thin solid var(--disable-color);
  border-bottom: thin solid var(--disable-color);
  border-right: thin solid var(--disable-color);
}

.btn-question button {
  width: 100%;
  height: 100%;
  background: white;
  color: gray;

  /* scale size */
  font-size: 2vh;
  color: var(--primary-color);

  border: none;
}

.sitemap {
  grid-column: 3;

  text-align: center;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: 40px 40px 40px 40px 15px;
}

.sitemap a {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.5rem;
}

#copy-footer {
  grid-row: 6;
  height: 1px;
  font-size: 15px;
  color: var(--secondary-text-color);
}

.more {
  grid-column: 5;

  text-align: center;
}

.logo-mini img {
  width: 16rem;
  height: 5rem;
}

.author {
  color: var(--secondary-text-color);
}

.author {
  color: var(--secondary-text-color);
}

.contact {
  width: auto;
  height: auto;
}

.contact button {
  width: 13rem;
  height: 4rem;
  border-radius: 6px;
}

/* ========================================================================== */
/* RESPONSIVE  */
/* ========================================================================== */
/* Tablette */

@media screen and (max-width: 1024px) {
  .section-login {
    height: 72vh;
  }

  .basic-head img {
    width: 40%;
  }

  .section-login {
    width: 100%;
  }

  .form-wrapper {
    margin-top: 6rem;
    width: 150rem;
    height: 15rem;
  }

  .login-form input,
  .password-form input,
  .button-form button {
    width: 95%;
  }

  .login {
    min-height: 70vh;
  }

  .footer-wrapper {
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .section-login {
    height: 62vh;
  }

  .basic-head img {
    width: 40%;
  }

  .form-wrapper {
    margin-top: 6rem;
    width: 80%;
    height: 80%;
  }

  .login-form input,
  .password-form input,
  .button-form button {
    width: 80%;
  }

  .login {
    min-height: 70vh;
  }

  .footer-wrapper {
    height: 20rem;
  }
}

/* phone */
@media screen and (max-width: 480px) {
  .section-login {
    height: 68vh;
  }

  .basic-head img {
    width: 40%;
  }

  .form-wrapper {
    margin: 2rem;

    margin-top: 4rem;
    margin-bottom: 1rem;

    width: 80%;

    width: calc(100rem / var(--size-divisor));
    height: calc(100rem / var(--size-divisor));

    min-height: calc(140rem / var(--size-divisor));
    max-height: calc(140rem / var(--size-divisor));

    min-width: calc(100rem / var(--size-divisor));
    max-width: calc(100rem / var(--size-divisor));
  }

  .form-elements input[type="email"],
  input[type="password"] {
    margin-top: 1rem;
  }

  .button-form {
    width: 100%;
  }

  .form-elements button[type="submit"] {
    width: 100%;
  }

  .form-elements {
    width: 90%;
  }

  .footer-wrapper {
    height: 50vh;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 60px;
    margin-right: 60px;
    flex-direction: column;
    color: var(--primary-color);
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .question {
    height: 10vh;
  }

  .sitemap {
    margin-top: 2vh;
  }

  .sitemap p {
    visibility: hidden;
  }

  .contact button {
    width: 100%;
    height: 4rem;
    border-radius: 6px;
  }
}

@media screen and (max-height: 420px) {
  .section-login {
    text-align: center;
  }
  .form-wrapper {
    margin: 2rem;

    margin-top: 4rem;
    margin-bottom: 1rem;

    width: 80%;

    width: calc(100rem / var(--size-divisor));
    height: calc(100rem / var(--size-divisor));

    min-height: calc(140rem / var(--size-divisor));
    max-height: calc(140rem / var(--size-divisor));

    min-width: calc(100rem / var(--size-divisor));
    max-width: calc(100rem / var(--size-divisor));

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login {
    min-height: 140vh;
  }
  .form-wrapper {
    min-height: 100vh;
  }

  .question {
    height: 10vh;
  }

  .sitemap {
    margin-top: 4vh;
  }

  .sitemap p {
    visibility: hidden;
  }

  .contact button {
    width: 100%;
    height: 4rem;
    border-radius: 6px;
  }
}

@media screen and (max-width: 280px) {
  .section-login {
    width: calc(84rem / var(--size-divisor));
    height: calc(140rem / var(--size-divisor));

    min-height: calc(90rem / var(--size-divisor));
    max-height: calc(140rem / var(--size-divisor));

    min-width: calc(84rem / var(--size-divisor));
    max-width: calc(84rem / var(--size-divisor));
  }
  .form-wrapper {
    width: calc(84rem / var(--size-divisor));
    height: calc(140rem / var(--size-divisor));

    min-height: calc(140rem / var(--size-divisor));
    max-height: calc(140rem / var(--size-divisor));

    min-width: calc(84rem / var(--size-divisor));
    max-width: calc(84rem / var(--size-divisor));
  }
}
