  <header class="main-header">
              
              <nav class="main-navbar">
                    <img class="logo-navbar" src='../../../../assets/icons/logo-white.svg' alt='Logo' />
                    <div class="cours-navbar">
                      <a class="link-navbar" [routerLink]="">
                        <span>Cours</span>
                        <hr class="navbar-line">
                      </a>
                    </div>
                    <div class="search-navbar">
                      <img
                        class="search-img"
                        src='../../../../assets/icons/search-black.svg'
                        alt='Rechercher des cours'
                      />
                      <input
                        placeholder='Rechercher'
                        type='text'
                        class="input-navbar"
                      />
                    </div>
                    <!-- TODO Role management Profil/Admin -->
                    <div class="submenu-navbar">
                        <div class="admin-navbar">
                          <a class="link-navbar" [routerLink]="" (click)="goTo()">
                            <span>Admin</span>
                            <hr class="navbar-line">
                          </a>
                        </div>

                        <div class="profil-navbar">
                        <a class="link-navbar" [routerLink]="">
                          <span>Profil</span>
                          <hr class="navbar-line">
                        </a>   
                      </div>
                    </div>

                      <div class="disconnection-navbar">
                        <a class="link-navbar" [routerLink]="">
                          <span>Déconnexion</span>
                          <hr class="navbar-line">
                        </a>
                      </div>
              </nav>
            
            <nav class="sub-navbar">
              <div class="container-subnavbar">
                <div class="allcours-subnavbar">
                  <a class="link-navbar">
                    <span>Tous les cours</span>
                  </a>
                  <hr class="navbar-line">
                </div>

                <div class="mycours-subnavbar">
                  <a class="link-navbar" [routerLink]="">
                    <span>Mes cours</span>
                  </a>
                  <hr class="navbar-line">
                </div>

                <div class="suggestion-subnavbar">
                  <a class="link-navbar" [routerLink]="">
                    <span>Suggestion</span>
                  </a>
                  <hr class="navbar-line">
                </div>
              </div>
            </nav>
          </header>