@import 'variables.scss';

.main-header {
    
}

.main-navbar {
  background: $primary-color;

  .container-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}



.sub-navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  .container-subnavbar{
    display: flex;
    justify-content: space-around;
  }

}

.container-logo {

}