<div class='content'>
    <section class='section-cours'>
    <div class="following-course">
    <h2>Cours suivis</h2>
    <hr class="solid"/>
    <div class="inprogress-tab">
          <table>
            <tr>
              <th>Nom</th>
              <th>Inscription</th>
              <th>Progression</th>
              <th>Certificat</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
              <td>50</td>
            </tr>
          </table> 
        </div>
        <div class="finish-tab">
          <table >
            <tr>
              <th>Nom</th>
              <th>Inscription</th>
              <th>Progression</th>
              <th>Certificat</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
              <td>50</td>
            </tr>
          </table> 
        </div>
    </div>

    </section>
  </div>