/* ========================================================================== */
/* GLOBAL */
/* ========================================================================== */
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto";
  }
  
  :root {
    font-size: $font-size;
  }

    /* ========================================================================== */
    /*                                   TYPE                                     */
    /* ========================================================================== */
  

  h1 {
    font-size: 2.6rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 3rem;
    /* style font bold, italic, normal ... */
    font-weight: normal;
  }
  
  h4,
  h5 {
    font-size: 2.8rem;
  }


  li,
  button,
  label,
  input,
  p {
    font-size: 2rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  button {
    font-weight: 40px;
    background: var($primary-color);
    border: none;
  
    font-size: 2rem;
    color: white;
    cursor: pointer;
  
    transition: background 0.5s ease-in-out;
  }