
  

  
  /* ????????????????????????????????????? */
  .basic-head {
    background: var($primary-color);
    padding: 2rem;
  
    display: flex;
    justify-content: center;
  
    width: 100%;
    margin: auto;
  }
  
  .logo-navbar {
    width: 11%;
  }
  

  ////////////////////////////


  
  .profil-navbar {
    display: flex;
    flex: 1 1 12rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  
    height: 12rem;
  
    margin-right: 11.5rem;
  }
  

  

  
  .profil-navbar > div {
    width: 7rem;
  }

  /* ========================================================================== */
  /* MAIN SECTION */
  /* ========================================================================== */
  
  .section-cours{
  
    margin : 4rem 16.5%;
    width: 67%;
    display:flex;
  
  }
  
  hr{
  
   
  }
  
  /* ========================================================================== */
  /*  MY COURS SECTION */
  /* ========================================================================== */
  
  .following-cours{
  width: 100%;
  font-size: 2rem;
  }
  
  
  table{
    border-collapse: collapse;
    width:100%;
    height: 10rem;
    border: 1px solid;
    border-color: var($disable-color);
  }
  
  
  th{
    border: 1px solid;
    border-color: var($disable-color);
  
    color: var($secondary-color);
  
  
  }
  
  .inprogress-tab th{
    background-color: var($primary-color);
  }
  
  .inprogress-tab th{
    background-color: var($primary-color);
  }
  .finish-tab th{
    background-color: var($validation-color);
  }
  
  
  td{
    border: 1px solid;
    border-color: var($disable-color);
  }
  
  .inprogress-tab{
  
    margin-top: 2rem;
  }
  
  
  
  .finish-tab{
    margin-top: 2rem;
  
  }
  
  /* ========================================================================== */
  /* FOOTER */
  /* ========================================================================== */
  footer {
    /* Fixed footer to the bottom*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
    color: var($primary-color);
    background: var($secondary-color);
  
    height: auto;
  }
  
  

  


  
  #copy-footer {
    grid-row: 6;
    height: 1px;
    font-size: 15px;
    color: var($secondary-text-color);
  }
  




  
  /* ========================================================================== */
  /* RESPONSIVE  */
  /* ========================================================================== */
  /* Tablette */
  
  @media screen and (max-width: 1024px) {
    .section-login {
      height: 72vh;
    }
  
    .basic-head img {
      width: 40%;
    }
  
    .section-login {
      width: 100%;
    }
  
    .form-wrapper {
      margin-top: 6rem;
      width: 150rem;
      height: 15rem;
    }
  
    .login-form input,
    .password-form input,
    .button-form button {
      width: 95%;
    }
  
    .login {
      min-height: 70vh;
    }
  }
  
  @media screen and (max-width: 768px) {
    .section-login {
      height: 62vh;
    }
  
    .basic-head img {
      width: 40%;
    }
  
    .form-wrapper {
      margin-top: 6rem;
      width: 80%;
      height: 80%;
    }
  
    .login-form input,
    .password-form input,
    .button-form button {
      width: 80%;
    }
  
    .login {
      min-height: 70vh;
    }

  }
  
  /* phone */
  @media screen and (max-width: 480px) {
    .section-login {
      height: 68vh;
    }
  
    .basic-head img {
      width: 40%;
    }
  
    .form-wrapper {
      margin: 2rem;
  
      margin-top: 4rem;
      margin-bottom: 1rem;
  
      width: 80%;
  
      width: calc(100rem / var($size-divisor));
      height: calc(100rem / var($size-divisor));
  
      min-height: calc(140rem / var($size-divisor));
      max-height: calc(140rem / var($size-divisor));
  
      min-width: calc(100rem / var($size-divisor));
      max-width: calc(100rem / var($size-divisor));
    }
  
    .form-elements input[type="email"],
    input[type="password"] {
      margin-top: 1rem;
    }
  
    .button-form {
      width: 100%;
    }
  
    .form-elements button[type="submit"] {
      width: 100%;
    }
  
    .form-elements {
      width: 90%;
    }
  }
  
  @media screen and (max-height: 420px) {
    .section-login {
      text-align: center;
    }
    .form-wrapper {
      margin: 2rem;
  
      margin-top: 4rem;
      margin-bottom: 1rem;
  
      width: 80%;
  
      width: calc(100rem / var($size-divisor));
      height: calc(100rem / var($size-divisor));
  
      min-height: calc(140rem / var($size-divisor));
      max-height: calc(140rem / var($size-divisor));
  
      min-width: calc(100rem / var($size-divisor));
      max-width: calc(100rem / var($size-divisor));
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .login {
      min-height: 140vh;
    }
    .form-wrapper {
      min-height: 100vh;
    }
  

  
    .contact button {
      width: 100%;
      height: 4rem;
      border-radius: 6px;
    }
  }
  
  @media screen and (max-width: 280px) {
    .section-login {
      width: calc(84rem / var($size-divisor));
      height: calc(140rem / var($size-divisor));
  
      min-height: calc(90rem / var($size-divisor));
      max-height: calc(140rem / var($size-divisor));
  
      min-width: calc(84rem / var($size-divisor));
      max-width: calc(84rem / var($size-divisor));
    }
    .form-wrapper {
      width: calc(84rem / var($size-divisor));
      height: calc(140rem / var($size-divisor));
  
      min-height: calc(140rem / var($size-divisor));
      max-height: calc(140rem / var($size-divisor));
  
      min-width: calc(84rem / var($size-divisor));
      max-width: calc(84rem / var($size-divisor));
    }
  }  