@import 'variables.scss';

.login-container{
    border: 1px solid $grey-color;
    border-radius: 50px;
    box-shadow: 0 1px 5px $dark-grey-color;

    align-items: center;
    text-align: center;

    margin: 5rem auto 0;

    width: calc(150rem / $size-divisor);
    height: calc(150rem / $size-divisor);

    min-height: calc(150rem / $size-divisor);
    max-height: calc(150rem / $size-divisor);

    min-width: calc(150rem / $size-divisor);
    max-width: calc(150rem / $size-divisor);

    position: relative;
}

.login-header {
    padding-top: 2rem;
}

.form-container {
    align-items: center;
    text-align: center;
}

.form-elements {
    width: 85%;
    margin: auto;
    padding: 2rem;
}

.form-elements input[type="email"],
input[type="password"] {
    transition: box-shadow 0.3s;

    border-radius: 50px;
    border: 1px solid $disabled-color;
    color: $secondary-text-color;

    box-shadow: 0 1px #fff;
    box-sizing: border-box;

    margin-top: 1.5rem;

    padding-left: 40px;

    height: 6rem;
    width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
    outline: 0;
}

.input-form {
    width: 100%;
    padding: 10px;
}

input[type="checkbox"] {
    cursor: pointer;
}

.button-form {
    width: 85%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

button[type="submit"] {
    background-color: var($primary-color);
    background-image: linear-gradient(top, var($primary-color), #3111);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px $pusher-color,
        0px 10px 5px #999;

    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #317ea5;

    min-width: 4rem;

    min-height: 4rem;

    cursor: pointer;
    border: none;

    width: 96%;
    height: 6rem;

    border-radius: 6px;
}

button[type="submit"]:hover {
    background-color: $pusher-color;
    background-image: linear-gradient(top, #2c7ea7a2, #3111);
    box-shadow: inset 0px 2px 0px #2c7ea7a2, 0px 3px 0px 0px #2c7ea7a2;

    /* background: $pusher-color; */
}

.remember-form {
    margin-top: 1rem;
}

.remember-form label {
    color: $secondary-text-color;
}

.form-wrapper p {
    position: absolute;
    bottom: 0;
    padding-bottom: 3rem;
    color: $secondary-text-color;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}