<nav class="main-navbar" >
    <img
      class="logo-navbar"
      src="../../../../assets/icons/logo-white.svg"
      alt="Logo"
    />
    <div class="cours-navbar">
      <a class="link-navbar" routerLink="/courses" 
      routerLinkActive="active-link" 
      [routerLinkActiveOptions]="{exact: false}">
        <span routerLinkActive="active-link">Cours</span>
        <hr/>
      </a>
    </div>
    <div class="search-navbar">
      <img
        class="search-img"
        src="../../../../assets/icons/search-black.svg"
        alt="Rechercher des cours"
      />
      <input placeholder="Rechercher" type="text" class="input-navbar" />
    </div>
    <!-- TODO Role management Profil/Admin -->
    <div class="submenu-navbar">
      <div class="admin-navbar">
        <a class="link-navbar" routerLink="/admin" 
        routerLinkActive="active-link">
          <span>Admin</span>
          <hr/>
        </a>
      </div>

      <div class="profil-navbar">
        <a class="link-navbar" routerLink="/profil" 
        routerLinkActive="active-link">
          <span>Profil</span>
          <hr/>
        </a>
      </div>
    </div>

    <div class="disconnection-navbar">
      <a class="link-navbar" routerLink="/login" (click)="disconnect()">
        <span>Déconnexion</span>
        <hr class="navbar-line" />
      </a>
    </div>
  </nav>