  <nav class="main-navbar" [ngClass]="{'multiple-navbar': isCourses}"  >
    <img
      class="logo-navbar"
      src="../../../../assets/icons/logo-white.svg"
      alt="Logo"
    />
    <div class="courses-navbar">
      <a class="link-navbar" routerLink="/courses" 
      routerLinkActive="active-link" 
      [routerLinkActiveOptions]="{exact: false}">
        <span>Cours</span>
        <hr/>
      </a>
    </div>
    <div class="search-navbar">
      <input placeholder="Rechercher" type="text" class="input-navbar" />
    </div>
    <!-- TODO Role management profile/Admin -->
    <div class="submenu-navbar">
      <div class="admin-navbar">
        <a class="link-navbar" routerLink="/admin" 
        routerLinkActive="active-link">
          <span>Admin</span>
          <hr/>
        </a>
      </div>

      <div class="profile-navbar">
        <a class="link-navbar" routerLink="/profile" 
        routerLinkActive="active-link">
          <span>Profil</span>
          <hr/>
        </a>
      </div>
    </div>

    <div class="disconnection-navbar">
      <a class="link-navbar" routerLink="/login" (click)="disconnect()">
        <span>Déconnexion</span>
        <hr class="navbar-line" />
      </a>
    </div>
  </nav>