<footer>
    <!-- <div class="separator-bar"></div> -->
    <div class="main-footer">
      <div class="container-footer">
        <div class="social-footer">
          <div class="social email-link"></div>
          <div class="social twitter-link" href="https://twitter.com/CDXitech"></div>
          <div class="social linkedin-link"></div>
          <div class="social github-link"></div>
        </div>
        <div class="section-footer">
          <a>Cours</a>
          <a>Profil</a>
          <a>Contact</a>
          <a>Version</a>
        </div>
        <span class="copy-footer">Coco ©</span>
      </div>
    </div>
    <div class="sub-footer">
      <div class="info-footer">
          <p>Super-powered by CDX</p>
          <p>Version {{ getVersion() }}</p>
      </div>
    </div>
  </footer>