@import 'variables.scss';

footer {
  //shadow like header
  box-shadow: 0 1px 5px #0000004d;
  background-color: $primary-color;
}

.main-footer {
  height: 20rem;
  width: 100%;
  background-color: $tertiary-color;
  box-shadow: 0 1px 5px #0000004d;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container-footer {
    width: 30%;
    height: 70%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-footer {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .social {
        width: 4.5rem;
        height: 4.5rem;
      }

      .email-link {
        content: url('../../../assets/icons/email.svg');
      }

      .twitter-link {
        content: url('../../../assets/icons/twitter.svg');
      }

      .linkedin-link {
        content: url('../../../assets/icons/linkedin.svg');
      }

      .github-link {
        content: url('../../../assets/icons/github.svg');
      }
    }

    .section-footer {
      width: 35%;
      margin-top: 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $footer-link-text-size;
      color: $secondary-color;

      .section {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        cursor: pointer;
        color: $primary-color;
      }
    }

    .logo-footer {
      margin-top: 2.5rem;
      width: 20%;
    }
  }
}

.sub-footer {
  height: 6rem;
  background-color: $primary-color ;
  color: $tertiary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $footer-text-size;
}

//TODO MediaQuery
@media screen and (max-width: 1024px) {
  .footer-wrapper {
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    height: 20rem;
  }
}

/* phone */
@media screen and (max-width: 480px) {

  .contact button {
    width: 100%;
    height: 4rem;
    border-radius: 6px;
  }
}