// * VARIABLES * //

/* GENERAL PROPERTIES */
$size-divisor: 3;

/* FONT */
$font-size: 62.5%;  
$text-size: 2rem;
$navbtn-text-size: 3rem;
$subnavbtn-text-size: 2.5rem;
$input-text-size: 3rem;

/* COLORS */
//$primary-color: #43b1e8;
$primary-color: #0087a6;
$secondary-color: #344a53;
$tertiary-color: #e6f4f1;
$disable-color: #97afb9;

$validation-color: #368c4e;
$warning-color: #f59432;
$invalid-color: #c15b71;


/* ELEMENT PROPERTIES */
//$nav-center-element-size: 10rem;