// * VARIABLES * //

/* GENERAL PROPERTIES */
$size-divisor: 3;

/* FONT */
$font-size: 62.5%;  
$text-size: 2rem;
$navbtn-text-size: 3rem;
$subnavbtn-text-size: 2.5rem;
$input-text-size: 3rem;

/* COLORS */
$primary-color: #43b1e8;
$secondary-color: #e9ecef;
$tertiary-color: #ffffff;
$disable-color: #9ea8b8;
$disable-clear-color: #e9dfdfbe;
$validation-color: #60e091;
$pusher-color: #2c7ea7;
$primary-text-color: #000000;
$secondary-text-color: #707070;

/* ELEMENT PROPERTIES */
$nav-center-element-size: 63rem;
