// * VARIABLES * //

/* GENERAL PROPERTIES */
$size-divisor: 3;

/* FONT */
$font-size: 62.5%;  
$text-size: 2rem;
$navbtn-text-size: 2.5rem;
$subnavbtn-text-size: 2rem;
$input-text-size: 2.2rem;

$z-index-max: 100;
$z-index-top: 80;
$z-index-body: 50;

/* COLORS */
//$primary-color: #43b1e8;
$primary-color: #0087a6;
$secondary-color: #344a53;
$tertiary-color: #ffffff;

$clear-color: #ebfcff;
$grey-color: #C3CED2;

$validation-color: #368c4e;
$warning-color: #f59432;
$invalid-color: #c15b71;


/* ELEMENT PROPERTIES */
//$nav-center-element-size: 10rem;