@import "../../../../../styles/variables.scss";

.sub-navbar {
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top:6rem;
  height: 5rem;
  box-shadow: 0 2px 5px #0000004d;


  position: absolute;
  z-index: $z-index-top;

  span {
    font-size: $subnavbtn-text-size;
    color: $secondary-color;
  }
  .container-subnavbar {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .allcours-subnavbar {
    height:100%;
    width: auto;
  }

  .mycours-subnavbar {
    height:100%;
    width: auto;

  }

  .suggestion-subnavbar {
    height:100%;
    width: auto;
    
  }

  .active-sublink {
    span {
      color: $primary-color;
    }
    hr {
      visibility: visible;
      background-color: $primary-color;
      height: 6.5px;
    }
  }

  a:hover {
    span {
      color: $primary-color;
    }
    hr {
      background-color: $primary-color;
    }
  }
}
